{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django app</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget quam et tortor euismod auctor. Pellentesque tincidunt, nisl quis gravida pellentesque, dui libero ornare arcu, et sagittis metus mauris tempor diam. Curabitur bibendum venenatis leo, id suscipit dui malesuada sed. Nulla volutpat lorem vel egestas auctor. Fusce nec orci imperdiet, venenatis risus vitae, euismod ante. Cras varius, sem a vehicula luctus, enim enim pretium erat, sit amet auctor lectus odio sed erat. Fusce sit amet blandit diam. Pellentesque et nisl eu lorem interdum mattis et vitae neque. Etiam vel nisl vel arcu ornare tempor. Donec et risus ut quam volutpat dictum. Nullam sagittis dignissim purus, non gravida urna posuere ac. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin id mattis ipsum. Sed ornare volutpat ligula, in laoreet lacus tempor ut.</p>
    <div class="text-center">
        <a class="btn btn-secondary" href="/signin/">
            Signin
        </a>
        <a class="btn btn-dark" href="/signup/">
            Signup
        </a>
    </div>
    </section>
</main>

{% endblock %}